@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Special Gothic Expanded One';
    src: url('/fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background: #1d1b1a;
    color: #efeeee;
    font-family: 'Inter', sans-serif
}

body {
    margin: 75px 0;
    padding: 0;
}

a {
    color: #efeeee;
}

p {
    font-size: 1rem;
}

.hidden {
    display: none;
}



