@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Special Gothic Expanded One';
    src: url('/fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPNeueMontreal-Book';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

html, body {
    background-color: #1d1b1a;
    color: #efeeee;
    font-family: 'PPNeueMontreal-Book', sans-serif;
    height: 100%;
    width: 100%;
}

body {
    margin: 75px 0;
    padding: 0;
}

a {
    color: #efeeee;
}

p {
    font-size: 1rem;
}

.desktop {
    background-color: #1d1b1a;
}

.mobile {
    background-color: #1d1b1a;
}

.overlay {
    background-color: #1d1b1a;
}

.hidden {
    display: none;
}



