@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background: #1d1b1a;
    color: #efeeee;
    font-family: 'Inter', sans-serif
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}



