---
import Layout from "../layouts/Layout.astro"
const posts = Object.values(await import.meta.glob('./blog/*.md', {eager: true}));
---

<Layout>
    <h2>Blog</h2>
	<ul>
		{
			posts.map((post:any) => (
				<li>
					<a href={`${post.url}`}>
						<img width={360} height={360} src={post.frontmatter.heroImage} alt="" />
						<h4 class="title">{post.frontmatter.title}</h4>
					</a>
				</li>
			))
			
		}
	</ul>
</Layout>