---
import Layout from "../layouts/Layout.astro"
const posts = Object.values(await import.meta.glob('./blog/*.md', {eager: true}));
---

<Layout>
    <div class="list-container">
        <ul>
            {posts.map((post: any) => (
                <div class="zoom">
                    <li>
                        <a href={`${post.url}`}>
                            <div class="text-content">
                                <h2 class="title">{post.frontmatter.title}</h4>
                                <h5 class="subtitle">{post.frontmatter.subtitle}</h6>
                            </div>
                            <img width={300} height={300} src={post.frontmatter.heroImage} alt="" />
                        </a>
                    </li>
                </div>
            ))}
        </ul>
    </div>
</Layout>

<style>

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0;
	}

    .zoom {
        transition: transform 0.2s; 
		padding: 10px;
    }

    .zoom:hover {
        transform: scale(1.01);
    }

    .list-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap; /* Allows items to wrap on smaller screens */
		padding: 20px;
	}

	.text-content {
        display: flex;
        flex-direction: column;
    }

	.subtitle {
		display: -webkit-box;
		-webkit-line-clamp: 10; /* Change this number for more lines */
		-webkit-box-orient: vertical;
		overflow: hidden;
		max-width: 100%;
	}

	ul {
		list-style: none;
		justify-items: center;
	}

	li {
		display: inline-block;
		padding: 10px;
		width: 100%;
		max-width: 700px;
		max-height: 500px;
		transition: border-color 0.3s ease-in-out;
		transition: background-color 0.3s ease-in-out;
	}

	li:hover {
		border-bottom: 3px solid;
		margin-bottom: -3px;
		border-color: #efeeee;
		background-color: #403c3a;
	}

	li img {
		padding-left: 10px;
	}

	a {
		color: #efeeee;
		text-decoration: none;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

</style>
