---
import Layout from "../layouts/Layout.astro";
const posts = Object.values(await import.meta.glob('./blog/*.md', { eager: true }));
---

<Layout>
    <div class="list-container">
        <ul class="post-grid">
            {posts.map((post: any) => (
                <li class="post">
                    <a href={`${post.url}`}>
                        <img src={post.frontmatter.heroImage} alt="" />
                        <div class="text-content">
                            <h2 class="title">{post.frontmatter.title}</h2>
                            <p class="subtitle">{post.frontmatter.subtitle}</p>
                        </div>
                    </a>
                </li>
            ))}
        </ul>
    </div>
</Layout>

<style>

    * {
        box-sizing: border-box;
    }

    .list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;    
    }

    .post-grid {
        max-width: 1200px;
        margin: 2.5vh auto;
        padding: 0 20px;
        width: 100%;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1em;
        justify-content: center;
    }

    .post {
        list-style: none;
        background: #393737;
        border-radius: 10px;
        padding: 20px;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform ease-in-out 0.3s;
    }

    .post a {
        text-decoration: none;
    }

    .post img {
        width: 100%;
        height: auto;
        max-width: auto;
        max-height: 225px;
        object-fit: cover;
    }

    .post:hover {
        transform: scale(1.05);
        outline: 1px solid #efeeee;
    }

    .text-content {
        color: #efeeee;
    }

    .text-content h2 {
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .text-content p {
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
