---
import Layout from "../layouts/Layout.astro"
const posts = Object.values(await import.meta.glob('./blog/*.md', {eager: true}));
---

<Layout>
    <div class="list-container">
        <ul>
            {posts.map((post: any) => (
                <div class="posts">
                    <li>
                        <a href={`${post.url}`}>
                            <img width={300} height={300} src={post.frontmatter.heroImage} alt="" />
                            <div class="text-content">
                                <h2 class="title">{post.frontmatter.title}</h4>
                                <h5 class="subtitle">{post.frontmatter.subtitle}</h6>
                            </div>
                        </a>
                    </li>
                </div>
            ))}
        </ul>
    </div>
</Layout>

<style>

    .list-container {
        border: 1px solid #efeeee;
        max-width: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }

    .posts {
        text-align: center;
        align-items: center;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #efeeee;
    }

</style>
