---
import Layout from "../layouts/Layout.astro";
const posts = Object.values(await import.meta.glob('./blog/*.md', { eager: true }));
---

<Layout>
    <div class="list-container">
        <ul class="post-grid">
            {posts.map((post: any) => (
                <li class="post">
                    <a href={`${post.url}`}>
                        <img src={post.frontmatter.heroImage} alt="" />
                        <div class="text-content">
                            <h2 class="title">{post.frontmatter.title}</h2>
                            <p class="subtitle">{post.frontmatter.subtitle}</p>
                        </div>
                    </a>
                </li>
            ))}
        </ul>
    </div>
</Layout>

<style>
    .list-container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
    }

    .post-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 0;
    }

    .post {
        list-style: none;
        background: #393737;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        text-align: center;
    }

    .post:hover {
        transform: scale(1.05);
    }

    .post img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .text-content {
        padding: 10px;
    }

    .title {
        font-size: 1.2rem;
        margin: 5px 0;
        color: #efeeee;
    }

    .subtitle {
        font-size: 1rem;
        color: #efeeee;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    @media (max-width: 768px) {
        .post-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 480px) {
        .post-grid {
            grid-template-columns: 1fr;
        }
    }
</style>
