---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="container">

      <div class="text-content">
        <h3>For any inquiries about XYZ, to be edited in the future!</h3>
      </div>

        <p>Contact</p>
        <form method="POST" action="https://formsubmit.co/matthew.sass35@gmail.com">
            <input type="email" name="email" placeholder="Your email...">
            <textarea name="message" placeholder="Your text..."></textarea>
            <div class="btn-wrapper">
              <button type="submit" class="button">
                <span class="back"></span>
                Send
              </button>
            </div>
        </form>
    </div>
</Layout>

<style>
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      transition: all 200ms ease-out;
    }


    button {
      appearance: none;
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .text-content {
      margin-bottom: 5vh;
    }

    /* global changes */
    .button {  
      isolation: isolate;
      color: #efeeee;
      line-height: 1.5;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 18px;
      border-radius: 9999rem;
      background: transparent;
      position: relative;
      border: 2px solid #efeeee;
      color: #efeeee;
      font-size: 1em;
    }

    .button > .back {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
      position: absolute;
      inset: 0;
      overflow: hidden;
      z-index: -1;
    }

    .button > .back::before {
      content: "";
      width: 0;
      height: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      background: rgba(239, 238, 238, 0.1);
      position: absolute;
    }

    /* global change */
    .button:hover {
      color: white;
    }

    .button:hover > .back {
      transform: scale(100%);
    }

    .button:hover > .back::before {
      width: 120%;
    }

    .button:active > .back {
      transform: scale(90%);
    }

    .container {
      max-width: 600px;
      margin: 20vh auto;
      padding: 10px;
    }

    p {
      text-align: left;
      font-size: 1.5rem;
      margin: 0;
      padding-bottom: 5px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    input {
      padding: 10px;
      resize: vertical;
    }

    textarea {
      padding: 10px;
      height: 25vh;
      resize: none;
    }

    input:focus {
      box-shadow: rgba(239, 238, 238, 0.1); 
    }

    .btn-wrapper {
      display: flex;
      justify-content: right;
    }
</style>
