---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="container">
        <p>Contact</p>
        <form method="POST" action="https://formsubmit.co/matthew.sass35@gmail.com">
            <input type="email" name="email" placeholder="Your email...">
            <textarea name="message" placeholder="Your text..."></textarea>
            <div class="btn-wrapper">
              <button type="submit" class="border-flip border-flip--black btn">Send</button>
            </div>
        </form>
    </div>
</Layout>

<style>
    .container {
      max-width: 800px;
      margin: 10vh auto;
      padding: 20px;
    }
  
    p {
      text-align: left;
      font-size: 1.5rem;
      color: #efeeee;
      margin: 0;
      padding-bottom: 5px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    input {
      padding: 10px;
      resize: vertical;
    }

    textarea {
      padding: 10px;
      height: 25vh;
      resize: none;
    }
  
    input:focus {
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    }

    .btn-wrapper {
      display: flex;
      justify-content: right;
    }
  
    .border-flip {
      display: inline-block;
      padding: 10px;
      width: 100px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600;
      background: none;
      border: medium;
    } 
    
    .border-flip::before {
      content: "";
      position: absolute;
      inset: 0px;
      transform: perspective(350px) rotateX(0deg);
      transition: 0.35s;
    } 
    
    .border-flip:hover::before {
      transition: 0.35s;
      transform: perspective(350px) rotateX(-180deg);
    } 
    
    .border-flip--black {
      color: #efeeee
    } 
    
    .border-flip--black::before {
      border: 1px solid #efeeee;
      border-radius: 5px;
    } 
    
    .btn {
      text-transform: none;
    } 
    
    .btn:hover .btn-slide-show-text1 {
      margin-left: 65px;
    } 
  
  </style>
  