---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
const thumbnails = Object.values(await import.meta.glob('./gallery/*.md', {eager: true}));
---
<Layout>
    <div class="list-container">
        <div class="masonry-grid">
            {
                thumbnails.map((post: any, index: number) => (
                    <div class="post">
                        <div class="image-container">
                            <a href={post.url}>
                                <Image 
                                    src={post.frontmatter.thumbnail} 
                                    alt="" 
                                    width={600} height={400}
                                    class="slide-in" 
                                    style={`animation-delay: ${index * 0.03}s`} 
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
    
</Layout>

<style>

.slide-in {
    opacity: 0;
    transform: translateX(400px);
    animation: slideIn 1s forwards;
    animation-fill-mode: forwards;
    pointer-events: auto;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(400px);
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.list-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2; 
}

.masonry-grid {
    column-count: 4;
    column-gap: 0.4em;
    max-width: 100%;
    margin: 1vh 4vw;
}

.post {
    display: inline-block;
    margin-bottom: 0.3em;
    break-inside: avoid;
    position: relative;
    transition: transform ease-in-out 0.8s;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
    transition: .5s ease-in-out;
}

.post:hover img {
    opacity: 0.4;
}

@media (max-width: 1020px) {
    .masonry-grid {
        margin: 0.5vh 3vw;
        column-count: 3;
        column-gap: 0.75em;
    }

    .post {
        margin-bottom: 0.5em;
    }
    
}

@media (max-width: 768px) {
    .masonry-grid {
        margin: 0.5vh 3vw;
        column-count: 2;
        column-gap: 0.25em;
    }

    .post {
        margin: 0.25vh 0.25vw;
    }
}
    
</style>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const images = document.querySelectorAll(".slide-in");
  
      images.forEach((img) => {
        img.addEventListener("animationend", () => {
          img.classList.remove("slide-in");
        });
      });
    });
  </script>