---
import Layout from "../layouts/Layout.astro";
const thumbnails = Object.values(await import.meta.glob('./gallery/*.md', {eager: true}));
---
<Layout>
    <div class="list-container">
        <ul class="post-grid">
            {
                thumbnails.map((post: any) => (
                    <li class="post">
                        <div class="image-container">
                            <a href={post.url}>
                                <img src={post.frontmatter.thumbnail} alt="" />
                            </a>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>

<style>
    .list-container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px;
    }

    .post-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 10px;
    }

    .post {
        list-style: none;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .post:hover {
        transform: scale(1.05);
    }

    .post img {
        width: 100%;
        object-fit: cover;
        height: 225px;
        display: block;
    }

    @media (max-width: 600px) {
        .post-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .post img {
            height: 175px;
        }

    }

    @media (min-width: 700px) {
    .post-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


    @media (max-width: 360px) {
        .post-grid {
            grid-template-columns: 1fr;
        }

        .post img {
            height: 200px;
        }

    }

    
    
</style>