---
import Layout from "../layouts/Layout.astro";
const thumbnails = Object.values(await import.meta.glob('./gallery/*.md', {eager: true}));
---
<Layout>
    <ul>
        {
            thumbnails.map((post: any) => (
                <li>
                    <div class="image-container">
                        <a href={post.url}>
                            <img width={360} height={360} src={post.frontmatter.thumbnail} alt="" />
                        </a>
                        <div class="title-bar">
                            <h4 class="title">{post.frontmatter.title}</h4>
                        </div>
                    </div>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    img {
        margin: auto;
        max-width: 80vw;
        max-height: 40vh;
    }
    ul {
        list-style: none;
    }

    .list-container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
    }

    .post-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 0;
    }

    .post {
        
    }
</style>
