---
import Layout from "../layouts/Layout.astro";
---
<Layout>

    <div class="about-box">
    </div>

</Layout>

<style>

    h3 {
        margin: 0;
    }

    .about-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 800px;
        padding: 20px;
    }
</style>

