---
import { Image } from 'astro:assets';
import logo from '../logo.png'
---

<header>
    <div class="navbar">
        <a href="/">
            <Image src={logo} alt="Logo" height={75} class="logo"/>
        </a>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</header>

<style>

    header {
        border-bo: 1px solid #efeeee;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        background-color: #34312f;
        padding: 10px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    li{
        padding: 10px 20px;
    }

    a{
        color: #efeeee;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
        
        color: orange;
    }

    .logo {
        border-radius: 75px;
        padding: 10px;
        transition: transform 0.3s ease; 
    }

    .logo:hover {
        transform: scale(1.1); 
    }
</style>