---
import { Image } from 'astro:assets';
import logo from '../logo.png'
---

<header>
    <!-- Mobile Header -->
    <div class="mobile">
        <div class="mobile-container">
            <a href="/">
                <Image src={logo} alt="Logo" height={50} class="logo"/>
            </a>
    
            <div class="demo">
                <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="toggleMenu()">
                    <path class="line top"
                          d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                    <path class="line middle"
                          d="m 30,50 h 40" />
                    <path class="line bottom"
                          d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
                </svg>
            </div>
        </div>
    </div>

    <!-- Desktop Header -->
    <div class="desktop">
        <div class="container">
            <a href="/">
                <Image src={logo} alt="Logo" height={50} class="logo"/>
            </a>
    
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
        </div>
    </div>

    <!-- Overlay Menu for Mobile -->
    <div id="overlay" class="overlay">
        <nav class="overlay-nav">
            <h1>All Femme Fronted</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>

h1 {
    overflow: visible;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    text-align: center;
    padding: 5px;
}

.mobile {
    display: none;
    height: 75px;
}

@media (max-width: 1020px) {
    .mobile {
        display: flex;
        margin: 0;
    }

    .mobile .mobile-container {
        display: flex;
        height: 75px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1000;
    }

    .mobile .mobile-container .logo {
        margin-left: 3vw;
    }

    .mobile .mobile-container .demo {
        margin-left: ;
    }

    header .desktop {
        display: none;
    }

}

@media (min-width: 1020px ) {
    header .overlay {
        display: none;
    }
}

.desktop li {
    display: inline-block;
    padding-right: 15px;
}

.desktop a {
    text-decoration: none;
    color: #efeeee;
    transition: 0.3s ease-in-out;
    position: relative;
}

.desktop {
    background-color: #1d1b1a;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    z-index: 1000;
    height: 75px;
}

.desktop .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 4vw;
}

.desktop li {
    padding: 10px;
}

.logo {
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1); 
}

.demo {
    transform: scale(60%);
}

.ham {
    cursor: pointer;
    transition: transform 400ms;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #efeeee;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}

.ham1 .bottom {
    stroke-dasharray: 40 180;
}

.ham1.active .top {
    stroke-dashoffset: -98px;
}

.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1b1a;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    z-index: 999;
}

.overlay-nav {
    text-align: center;
    position: absolute;
    top: 20%;
}

.overlay-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-nav li {
    padding-bottom: 2vh;
}

.overlay-nav a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.overlay-nav img {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    max-height: 30vh;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
</style>

<script is:inline>
function toggleMenu() {
    document.querySelector('.ham').classList.toggle('active');
    document.getElementById('overlay').classList.toggle('active');
}
</script>
