---
import Layout from "./Layout.astro";
import '../styles/lightbox.css'
const { frontmatter } = Astro.props;
console.log(frontmatter)
---

<Layout>

  
<h2>{frontmatter.title}</h2>
  <div class="list-container">
    <div class="post-grid">
      {frontmatter.images.map(({image, caption}) => (
        <div class="post">
          <a href={image} data-lightbox="gallery-post" data-title={caption}>
            <img src={image} alt="Gallery image" loading="lazy" />
          </a>
        </div>
      ))}
    </div>
  </div>
    
  
</Layout>

<script is:inline src="/js/lightbox-plus-jquery.js"></script>

<script is:inline>
import lightboxPlusJquery from "../js/lightbox-plus-jquery";

    lightboxPlusJquery.option({
        'resizeDuration': 200,
        'wrapAround': 200,
        'positionFromTop': 20
    })
</script>

<style>

    * {
        box-sizing: border-box;
    }

    h2 {
        text-align: center;
        margin-top: 100px;
    }

    .list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }

    .post-grid {
        max-width: 1200px;
        margin: 2.5vh auto;
        padding: 0 20px;
        width: 100%;
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1em;
        justify-content: center;
    }

    .post {
        list-style: none;
        overflow: hidden;
        transition: transform ease-in-out 0.3s;
    }

    .post:hover {
        transform: scale(1.03);
    }

    .post img {
        width: 100%;
        height: auto;
        max-width: auto;
        max-height: 250px;
        object-fit: cover;
        outline: 1px solid;
    }

    
    
    
</style>
