---
import '../styles/global.css';
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Femme Fronted</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <!-- <div class="side-image left">
        <img src="/uploads/affflower.png" alt="Left Image" />
      </div> -->
      
      <main class="content">
        <slot />
      </main>

      <!-- <div class="side-image right">
        <img src="/uploads/affflower.png" alt="Right Image" />
      </div> -->
    </div>
  </body>
</html>

<style>
  body {
    margin-top: 70px;
  }
</style>
