---
import '../styles/global.css';
import Header from "../components/Header.astro";
import logo from '../logo.svg'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#1d1b1a"/>
    <title>All Femme Fronted</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="preload" as="image" href={logo.src} type="image/svg+xml" />
  </head>
  <body>
    <Header />
    <div class="container">
      <!-- <div class="side-image left">
        <img src="/uploads/affflower.png" alt="Left Image" />
      </div> -->
      
      <main class="content">
        <slot />
      </main>

      <!-- <div class="side-image right">
        <img src="/uploads/affflower.png" alt="Right Image" />
      </div> -->
    </div>
  </body>
</html>

<style>
  .container {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
  }
</style>