---
import '../styles/global.css';
import Header from "../components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Femme Fronted</title>
  </head>
  <body>
    <Header />
    <div class="container">
      <div class="side-image left">
        <img src="../public/uploads/affflower.png" alt="Left Image" />
      </div>
      
      <main class="content">
        <slot />
      </main>

      <div class="side-image right">
        <img src="../public/uploads/affflower.png" alt="Right Image" />
      </div>
    </div>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    position: relative;
  }

  .side-image {
    position: fixed;
    top: 15%;
    width: 300px;
  }

  .left {
    left: 20px;
  }

  .right {
    right: 20px;
    transform: scaleX(-1);
  }

  .side-image img {
    max-width: 100%;
    top: 10%;
    height: auto;
    z-index: -1;
  }

  .content {
    max-width: 800px; 
    padding: 20px;
    margin: 100px auto 0 auto;
    text-align: left; 
  }
</style>
