---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <div class="container">
    <div class="content">
      <img src={frontmatter.heroImage} alt="" />
      <h1>{frontmatter.title}</h1>
      <div class="text">
        <slot />
      </div>
    </div>
  </div>
</Layout>

<style>
  h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  img {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }

  .container {
    display: flex;
    justify-content: center; 
  }

  .content {
    max-width: 700px;
    width: 90%;
    padding: 10px;
  }

  .content img {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
  }

  .text {
    text-align: left;  
    margin: 0 auto;  
    color: #efeeee;
  }

  .text a {
    color:#efeeee;
    text-decoration: none;
  }
</style>
