---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <img src={frontmatter.heroImage} width="300" alt="" />

  <slot />
</Layout>
